body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: black;
  transition: transform 0.3s ease;
}
a:hover {
    transform: scale(1.1);
    
}
a:active {
    color: white;
 
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.Home u{
    color: rgba(252, 138, 6, 1);
    margin: 0;
}  

/* sub bar , Shopping Basket*/ 
.sub_bar {
    height: 70px;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px 40px 20px 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

} 
.b_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}


 
.b_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/*Shopping Basket*/
.b_3{
    background-color: rgba(2, 134, 67, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
}
.b_3 button {
  background: none;     
  border: none;    
  outline: none;                    
  cursor: pointer; 
  transition: transform 0.3s ease;

}
.b_3 button :hover{
    transform: scale(1.1);
}
 

/*logo,  bar */
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.menu-icon {
    display: none;
}
.bar img{
   max-width: 100%;
  height: auto;
    


}
/*, home , brows menu ...*/
.dashbord_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
}
.dashbord_1 button{
    background:none;    
    border:none;    
    outline:none;                  
    cursor: pointer; 
    color: white;
    
}
.Login_Signup{
    border-radius: 120px;
    padding: 7px 12px;
    background-color: rgba(3, 8, 31, 1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
}
.Login_Signup:hover{
    transform: scale(1.1);
}
.dashbord_1 h3:hover{
    border-radius: 120px;
    padding: 7px 12px;
    background-color:rgba(252, 138, 6, 1) ;
    color: white;
}
.dashbord_1 a:nth-child(1) {
    border-radius: 120px;
    padding: 1px 20px;
    background-color:rgba(252, 138, 6, 1) ;
    color: white;
}
/* window 1 , search bar */
.window_1 {
    margin:30px;
    padding: 30px;
    height: 600px;
    border-radius: 12px;
    background-image: url('gg/picture/91406172753.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border: 1px solid;
    border-color: rgb(168, 163, 163);

    
}
.window_1 h1{
    font-size: 2.3rem;
    font-weight:600;
}
.window_1 h1:nth-child(3){
    color:rgba(252, 138, 6, 1) ;
}
.window_1 input{
    background : none;  
    border:none;    
    outline:none;                  
    cursor: pointer;
    padding: 10px 15px;
}
.window_1 button{
    background:rgba(252, 138, 6, 1);       
    outline:none;        
    border: none;            
    cursor: pointer;
    color: white;
    border-radius: 120px;
    padding: 10px 15px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 120px;
    background-color: white;
    width: 300px;
    border: 1px solid;
    border-color:rgb(168, 163, 163);
}
/* promo*/
.bar2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px auto;
    font-size: 1.1rem;
    font-weight:700;
}
/*vegan , sushi ...*/
.dashbord_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
}
.dashbord_2 button:hover {
    border-radius: 120px;
    padding: 7px 12px;
    border: 1px solid;
    border-color: rgba(252, 138, 6, 1);
    color: rgba(252, 138, 6, 1);
}
.dashbord_2 button {
  background: none;     
  border: none;    
  outline: none;                    
  cursor: pointer; 
transition: transform 0.3s ease;

}
.dashbord_2 :nth-child(3) {
    border: 1px solid;
    border-color: rgba(252, 138, 6, 1) ;
    border-radius: 120px;
    color: rgba(252, 138, 6, 1) ;
    padding: 4px 9px;
} 
 /*  category meal*/
.Promo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 35px; 
}
.Promo img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    
}
.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px 0;
    font-size: 1.1rem;

}
.catego {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    gap: 5px;
    
  
}
.catego img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    
}
.cat {
 background-color: rgba(245, 245, 245, 1);
 border-radius: 12px;
 border: 1px solid;
 border-color:rgb(216, 210, 210);
}
.cat h5 {
    text-align: center;
    padding-left: px;
    font-weight: 700;
    font-size: 1rem;
}
.cat p {
    text-align:center;
    color: rgba(252, 138, 6, 1);
    font-weight: 200;
    font-size: 0.9rem;
}
/* restaurant ...*/
.Restaurant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px;
    font-size: 1.1rem;
}
.rest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    gap: 10px;
}
.rest img{
    width: 100%;
    height: auto;
}
/* picture */
.pictur {
    margin: 35px;
}
.pictur img {
    width: 100%;
    height: auto;

}
/* join us*/
.option {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    gap: 30px;
    margin: 35px;
    height: 400px;
    
}
.option img {
    width: 100%;
    height: auto;
}
.option img:hover {
     filter: brightness(0.9); 
}
/* information about us*/
.about_us {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgba(217, 217, 217, 0.5);
    margin: 30px auto;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 12px;
}
.bar_option {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bar_option h2 {
    font-size: 1.7rem;
    font-weight: 700;
}
.bar_about_us {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}
.bar_about_us button{
     background : none;  
    border:none;    
    outline:none;                  
    cursor: pointer;
    padding: 10px 15px;
}
.bar_about_us button:hover {
    border: 1px solid;
    border-color: rgba(252, 138, 6, 1) ;
    border-radius: 120px;
    padding: 12px 15px;
    font-weight: 700;
}
.bar_about_us button:first-child {
    border: 1px solid;
    border-color: rgba(252, 138, 6, 1) ;
    border-radius: 120px;
    padding: 12px 15px;
    font-weight: 700;
}
.order_info {
    display: grid;
    grid-template-columns:  1fr 2fr;
    background-color: rgba(3, 8, 31, 1);
    color: white;
    border-radius: 12px;
    gap: 15px;
    padding: 20px;
}
.ques {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid;
    border-color:rgba(217, 217, 217, 0.137);
}
.ques button {
    background : none;  
    border:none;    
    outline:none;                  
    cursor: pointer;
    padding: 10px 15px;   
    color: white;   
    font-weight: 600;           
}
.ques button:first-child {
    background-color: rgba(252, 138, 6, 1);
    color: black;
    border-radius: 120px;
    padding: 12px 15px;
    font-weight: 700;
}
.ques button:hover {
    border-radius: 120px;
    padding: 12px 15px;
    font-weight: 700;
    background-color: rgba(252, 138, 6, 1);
    color: black;
    }
.step_answ {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}
.step {
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.stepp {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    padding: 15px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}    
.stepp h4 {
    font-weight: 700;
} 
/*summary*/
.Accounts {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    place-items: center; 
    margin: 3cap;
    background-color:rgba(252, 138, 6, 1) ;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}
.Accounts h1 {
    font-size: 2rem;
    font-weight: 200;
}
.Accounts div:nth-child(2) {
    border-left: 1px solid;
    border-color: rgba(217, 217, 217, 1);
    padding: 10px;
}
.Accounts div:nth-child(3) {
    border-left: 1px solid;
    border-right:  1px solid;
    border-color: rgba(217, 217, 217, 1);
    padding: 10px;
}
/* footer, subscribe , important link*/
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    background-color:rgba(217, 217, 217, 0.5);
    height: auto;
}
.footer u {
    color: black;
}
.footer h4 {
    font-weight: 700;
    font-size: 105%;
}
.foot1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: block;
}
.foot1 img {
    width: 80%;
    padding: 15px;
    image-resolution: unset;
}
.foot2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.foot2 input{
    background : none;  
    border:none;    
    outline:none;                  
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;

    }
.foot2 button{
    background:rgba(252, 138, 6, 1);       
    outline:none;        
    border: none;            
    cursor: pointer;
    color: white;
    border-radius: 120px;
    padding: 10px 15px;
}
.subscribe-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 120px;
    background-color:rgba(217, 217, 217, 0.767);
    border-color:rgb(168, 163, 163);
}
.foot3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.foot4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.last_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 8, 31, 1);
    color: white;
    padding: 15px 30px;
}
.last_bar button {
    background: none;     
    border: none;    
    outline: none;                    
    cursor: pointer; 
    color: white;
    margin: 0 10px;
    
}



     @media (max-width: 950px) {
        .bar{
            justify-content: space-between;
            padding: 0 20px;
            }
       .menu-icon {
            display: block;
            cursor: pointer;
            }

       .dashbord_1{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100px;
            right: 0;
            width: 200px;
            background-color:rgba(250, 250, 250, 1);
            border-radius: 12px;
            padding: 20px;
    
            }
       .dashbord_1.active{
    
            display: flex;
            }
       .bar2{
            display: flex;
            flex-direction: column;
            text-align: center;
            }
        .about_us {
            padding: 20px;
            margin: 20px 10px;
            }
       .bar_option {
            display: flex;
            flex-direction: column;
            }
       .bar_about_us {
          display: flex;
          flex-direction: column;
            }
       .order_info {
          grid-template-columns: 1fr; 
            }

       .step {
          flex-direction: column; 
          align-items: center;
        }
       .subscribe-bar {
          width: auto;
        }
       .foot2 input {
          padding: 10px 4px;
       }
       .foot2 button {
          padding: 10px 2px;
       }
    }
    @media (max-width: 840px) {
        .sub_bar {
           display: flex;
           flex-direction: row;
           justify-content:center;
          } 
        .b_1{
           display: none;
          }

        .b_2{
           display: none;
          }   
        .b_3{
          width: 80%;
          }
       .option {
         display: flex;
         flex-direction: column;
         width: auto;
        height: auto;
    
        }
   }

   @media (max-width: 409px) {
        .search-bar {
           width: auto;
          }
        .window_1 input{
          padding: 10px 4px;
          }
        .window_1 button{
          padding: 10px 2px;
          }
       .Accounts div:nth-child(2) {
          border: none;
          }
      .Accounts div:nth-child(3) {
          border: none;
          }
    }